/* **********
Styling Fonts
************* */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/* ***********************
common style and utilities 
************************** */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/****************** 
Styles for Header
*******************/
.navigation-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1160px;
    height: 44px;
    left: 156px;
    top: 20px;
}
.navigation-menu a{
    text-decoration: none;
    padding-right: 10px;
    color: #ffffff;
}
.login{
    padding-left: 5px;
    color: #ffffff;
    margin-left: 500px;
    background-color: rgb(81, 129, 9);
    width: 80px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login img{
    width: 24px;
    height: 24px;
}
.login a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 2px;
}
.top-section:hover .login{
    background-color: slategray;
    padding: 20px;
    transition: .6s;
}
.top-section{
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    position: absolute;
    left: 0;
    top: 0;
}

.header{
    display: flex;

}
.header-info h1{
    height: 230px;
    width: 485px;
    position: absolute;
    left: 156px;
    top: 207px;
    color: #ffffff;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.header-info a{
    text-decoration: none;
    width: 120px;
    height: 24px;
    background-color: yellowgreen;
    position: absolute;
    left: 156px;
    top: 500px;
    padding: 10px 24px;
}
.header-image img{
    width: 500px;
    height: 400px;
    position: absolute;
    left: 800px;
    top: 153px;
}

/* ******************
Styles for Players
********************* */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    width: 330px;
    height: 474px;
    position: absolute;
    left: 180px;
    top: 747px;

}
.player-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 8px 3px rgba(112, 128, 144, 0.432);
    padding: 15px 15px 33px 15px;
    
    
}
.player-details img{
    width: 300px;
    height: 256px;
    border-radius: 10px;
}









/* ****************
Styles for Footer
***************** */
footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;
   width: 484px;
   height: 213px;
   position: absolute;
   left: 475px;
   top: 3474px;
}
footer img{
    width: 484px;
    height: 110px;
    margin: 20px 0;
}
.social-icon img{
    
    width: 32px;
    height: 32px;
    right: 157px;
    margin-top: 35px;
    margin-bottom: 0px;
    padding-right: 8px;
}
footer p{
    color: slategray;
    font-size:small;
}

/* ***************************
Media Query for various Device
****************************** */

/* ***** For Mobile Devices ****** */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .navigation-bar, .header-image{
        display: none;
    }
    .header-info, .players{
        grid-template-columns: repeat(1, 1fr);

    }
    footer{
        position: absolute;
        top: 8000px;
    }
}

/* ******* For Tablet Devices ********** */

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        position: absolute;
        top: 4500px;
    }

}